/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-nljaixtecu] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
html[b-nljaixtecu], body[b-nljaixtecu] {
    min-height: 100% !important;
}
    body > *[b-nljaixtecu] {
        flex-grow: 1;
    }
    body .container[b-nljaixtecu] {
        flex-grow:1;
    }
a[b-nljaixtecu] {
  color: #0077cc;
}
.btn-primary[b-nljaixtecu] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  
}

.nav-pills .nav-link.active[b-nljaixtecu], .nav-pills .show > .nav-link[b-nljaixtecu] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-nljaixtecu] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-nljaixtecu] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-nljaixtecu] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-nljaixtecu] {
  font-size: 1rem;
  line-height: inherit;
}
.footer[b-nljaixtecu] {
    background-color: black;
    color: white;
    position: relative;
    width:100%;
    bottom: 0;
    line-height: 30px;
    white-space: nowrap;
}