/* _content/OrgkSetra/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-nljaixtecu] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
html[b-nljaixtecu], body[b-nljaixtecu] {
    min-height: 100% !important;
}
    body > *[b-nljaixtecu] {
        flex-grow: 1;
    }
    body .container[b-nljaixtecu] {
        flex-grow:1;
    }
a[b-nljaixtecu] {
  color: #0077cc;
}
.btn-primary[b-nljaixtecu] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  
}

.nav-pills .nav-link.active[b-nljaixtecu], .nav-pills .show > .nav-link[b-nljaixtecu] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-nljaixtecu] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-nljaixtecu] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-nljaixtecu] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-nljaixtecu] {
  font-size: 1rem;
  line-height: inherit;
}
.footer[b-nljaixtecu] {
    background-color: black;
    color: white;
    position: relative;
    width:100%;
    bottom: 0;
    line-height: 30px;
    white-space: nowrap;
}
/* _content/OrgkSetra/Views/Shared/_ProductLayout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-hjcaqpret8] {
  white-space: normal;
  word-break: break-all;
}
.navbar-org[b-hjcaqpret8]{
    width:100%;
    height: 5rem;
    border: 1px solid black;
    background-color: aliceblue;
    display: flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
    
     
}
html[b-hjcaqpret8]{
    width:100%;
    min-height:100%;
}
html[b-hjcaqpret8], body[b-hjcaqpret8] {
    display: flex;
    flex-direction: column;
    min-height: 100% !important;
}
    body > *[b-hjcaqpret8] {
        flex-grow: 1;
    }
  body .container[b-hjcaqpret8] {
      flex-grow: 1;
  }

a[b-hjcaqpret8] {
  color: #0077cc;
}
.btn-primary[b-hjcaqpret8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  
}

.nav-pills .nav-link.active[b-hjcaqpret8], .nav-pills .show > .nav-link[b-hjcaqpret8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-hjcaqpret8] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-hjcaqpret8] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-hjcaqpret8] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-hjcaqpret8] {
  font-size: 1rem;
  line-height: inherit;
}
.footer[b-hjcaqpret8] {
    background-color: black;
    color: white;
    position: relative;
    width:100%;
    bottom: 0;
    line-height: 30px;
    white-space: nowrap;
}
.logo[b-hjcaqpret8]{
    float:left;
    height:100%;
    width:15rem;
    object-fit:cover;
    object-position:top
}
#logoutbtn[b-hjcaqpret8] {
    padding-bottom: 1px;
}
.footer-ul[b-hjcaqpret8] {
    display: flex;
    justify-content: space-evenly;
}
.navbar-org p[b-hjcaqpret8] {
    border-radius: 25px !important;
    height: 50%;
    width: 40%;
    display: flex;
}
.cart-logout[b-hjcaqpret8]{
   width: 10rem !important;
}
.searchbox[b-hjcaqpret8] {
    margin-right: 10px;
    border-radius: 25px !important;
}

.foot-address[b-hjcaqpret8] {
    list-style-type: none;
    float: left;
    margin-top: 20px;
}

.footer div[b-hjcaqpret8] {
    width: 100%;
    height: auto;
    text-align: center
}

.foot-address p[b-hjcaqpret8] {
    font-weight: 700;
}

.foot-address a[b-hjcaqpret8] {
    display: block;
}

.copyrights[b-hjcaqpret8] {
    margin-top: 80px;
}


