html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100%;
}

.navbar-brand {
    text-align: center
}
.logo{
    margin-left: 35%; 
    width:25%;
    transition: width 0.1s linear 0.1s;  
}
.logo:hover{
    width:300px
}
.nav-link:hover {
    color: #ff6a00 !important;
}
.nav {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
#CustomerLogin {
    margin-left: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-shadow: 1px 1px #2d8653;
    color: #2d8653;
    
}
.modallink {
    margin-top: 1%;
    margin-right: 30%;
    color: #2d8653;
}
.mod-footer {
    padding-bottom: 4%;
    display: flex;
    justify-content: space-around;
}
.footer-ul{
    display:flex;
    justify-content:space-evenly;
}
.foot-address {
    list-style-type: none;
    float: left;
    margin-top: 20px;
}
.footer div{
    width: 100%;
    height:auto;
    text-align:center;
}
.foot-address p {
    font-weight: 700;
}
    .foot-address a{
        display: block;
    }
.copyrights {
    margin-top: 80px;
}
.customerloginbtn{
    margin:5px 0px 0px 0px;
    display:flex;
    justify-content:space-evenly;  
}
.customerloginbtn .btn, a{
    margin-left: 7px;
    border-radius:20px;

}


input{
    border-radius:25px !important;
    transition: padding 2s ease-out 0.2s;
}
    input:focus {
        padding: .8rem;
        border-color: #2d8653 !important;
    }
body  {
    flex-grow: 1;
}

body .container {
    flex-grow: 1;
}
@media (max-width: 600px) {

    .logo{
        width:50%;
        text-align:center;
    }
    .foot-address a {
        display: block;
        padding: 0rem 1rem;
    }
    .navbar-brand {
        text-align: center;
        display: flex;
        flex-wrap:wrap;
    }
    .footer-ul {
        display:flex;
        flex-direction:column;
        justify-content: space-between;
        align-items: center;
    }
    .container{
        margin:0px;
        padding: 0px 5px;
    }
}

